@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import readable UI fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&family=Playfair+Display:wght@400;700&display=swap');

:root{
	--brand: #111827;
	--accent: #4f46e5;
}

body {
	font-family: 'Inter', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

.heading-serif {
	font-family: 'Playfair Display', Georgia, serif;
}
